[submodule "tests/vendor/doctest"]
	path = tests/vendor/doctest
	url = https://github.com/doctest/doctest.git
[submodule "Oryx/vendor/spdlog"]
	path = Oryx/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Oryx/vendor/pybind11"]
	path = Oryx/vendor/pybind11
	url = https://github.com/pybind/pybind11.git
