[submodule "tests/vendor/doctest"]
	path = tests/vendor/doctest
	url = https://github.com/doctest/doctest.git
[submodule "Oryx/vendor/spdlog"]
	path = Oryx/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Oryx/vendor/pybind11"]
	path = Oryx/vendor/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "Oryx/vendor/yaml-cpp"]
	path = Oryx/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Oryx/vendor/glfw"]
	path = Oryx/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Oryx/vendor/stb"]
	path = Oryx/vendor/stb
	url = https://github.com/nothings/stb.git
